<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/AddServicesstyle.css">
    <title>Services Dashboard Administrator</title>
</head>
<body>
    <header>
        <nav>  <!-- NAVIGATION MENU -->
<a href="/adminhome"><div id="navcontainer"><img src="/img/arrowmenu.png"  id="arrowmenu" alt="arrowmenu" width="26px" height="24px"></a>
                <img src="/img/ODBlogo.png" id="ODBLogo" alt="ODBLogo"></div><br>
        </nav>
    </header>
    
    <main> <!-- ADD/MODIFY/DELETE BUTTON -->
        <div id="prestation"><p>Mes prestations</p></div>
        <div class="ActionButton">
            <a href="/AddForm" target="_blank"> <img id="Addbg" src="/img/Addbuttonbg.png" alt="AddButton"></a>
            <a href="/ModifyForm" target="_blank"><img id="Modifybg" src="/img/Modifybuttonbg.png" alt="ModifyButton"></a>
            <a href="/DeleteForm" target="_blank"><img id="Deletebg" src="/img/Deletebuttonbg.png" alt="DeleteButton"></a>
        </div>
        
        <!-- Service Part -->
        <div id="services">
            <div id="container">
            {% for prestation in prestation %}
            <div>
                <div class="circle">
                    <img src="../uploads/{{ prestation.photo }}" alt="coupe"><!-- ici on va upload l'image qu'on a choisi en créant la presta -->
                </div>
                <div class="titleService">{{prestation.title}}</div> <!-- FOR qui va itérer toutes les coupes existante en bdd -->
                <div class="price">
                    <p>{{prestation.type}}</p>
                    <p>{{prestation.price}}€</p>
                    <a href="/ModifyForm/{{prestation._id}}"><button>Modifier</button></a><!-- chemin lié à la route adminRouter.get('/ModifyForm/:id' -->
                </div>
            </div>
            {% endfor %}
            
            </div>
        </div>
            <!-- disconnect AND remove account buttons  -->
            <a href="/logout"><div id="remove">
                <button id="disconnect">Deconnexion</button>
            </div></a>


    </main>
    
</body>
</html>