<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashBoard.css">
    <title>Oncle_d_Barber</title>
</head>
<body>
    <header>
        <a href="/modificationProfil/{{connectedCustomer._id}}">
        <!--Le connectedCustomer.-id va nous permettre de recharger toutes les infos de l'utilisateur connecté et de pouvoir les modifier dans le formulaire suivant-->
        <img id="home" src="/img/home.png" alt="home">
        </a>
        <img src="/img/logo.png" alt="logo">
    </header>
    <main>
        <!-- Dashbord Part -->
        
        <div id="name">
            <p>
                Bonjour <br>
                
                <p>{{ connectedCustomer.name }} {{ connectedCustomer.firstname }}</p> 
                
            </p>
        </div>
        
        <div id="appointment_card">
            <div id="dashboard">
                <p>Prochain rendez-vous</p>
                {% if not event %}
                <p>Vous n'avez pas de rendez-vous</p>
                {% endif %}
                {% for events in event %}
                <p>{{ events.dateString }} </p>
                <div>

                <a href="/modificationEvent/{{ events.id }}">
                    <button>Modifier</button>
                </a>

                <a href="/eventDelete/{{ events.id }}">
                    <button>Supprimer</button>
                </a>

                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Service Part -->
        <div id="services">
            <div id="title">
                <p>Quel service souhaites-tu ?</p>
                <div></div>
            </div>
            <div id="container">
            {% for prestation in prestation %}
            <div>
                <div class="circle">
                    <img src="../uploads/{{ prestation.photo }}" alt="coupe">
                </div>
                <div class="titleCircle">{{prestation.title}}</div>
                <div class="price">
                    <div class="choice">
                            <input class="checkbox-spin" data-price={{prestation.price}}  type="checkbox"  id="check{{ prestation.id }}"/><!-- Le loop index rend la checkbox unique  -->
                            <label for="check{{ prestation.id }}"><span></span>{{prestation.category}} {{prestation.price}}€</label>
                    </div> 
                    
                </div>
                
            </div>
            {% endfor %}
            </div>
        </div>

        <a href="/customerAgenda">
                <button id="disconnect">Prendre rendez vous</button>
            </a>
        <!-- Opinion and fidelity -->
            <div id="OpinionFidelity">
                
                <div id="fidelityCard" {% if connectedCustomer.fidelityPoint == 10 %}style='background-color: #6D8EA1;'{% endif %}>
                    <div id="fidelityPicture">
                    {% if connectedCustomer.fidelityPoint != 0 %}
                    {% for i in 1..connectedCustomer.fidelityPoint %}
                        <img src="/img/jeton_fidelité.png" alt="jeton">
                    {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div id="TitleFidelityCard">
                    <h2>Ta carte de fidélité</h2>
                </div>
                <div id="opinion">
                <a href="/clientreview"><p>Laisse un avis</p></a>
                </div>
            </div>
            <!-- disconnection and deletion -->
            
            <div id="remove">
            <a href="/logout">
                <button id="disconnect">Deconnexion</button>
            </a>
            <button class="show-modal">Supprimer compte</button>
                <div class="modal hidden">
                    <button class="close-modal" id="delete">&times;</button>
                    <p id="text">
                    Voulez vous vraiment supprimer votre compte ?
                    
                    <a href="/customerDelete/{{connectedCustomer._id}}">
                    <button>Oui</button>
                    </a>
                    <button id="btnNo">Non</button>
                    </p>
                    <p>Oncle D t'as vraiment tué à ce point ?</p>
                </div>
                <div class="overlay hidden"></div>
            </div>
            </div>
            
            <!-- La boucle for nous sert à itérer tout le tableau se trouvant sur mongo db -->
    </main>
    <script src="/js/main.js"></script>
    <script src="/js/rdv.js"></script>

</body>
</html>