<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/DeleteFormstyle.css">
    <title>Add Services Form</title>
</head>
<body>
    <header>
        <nav>  <!-- NAVIGATION MENU -->
<a href="/AddServices"><div id="navcontainer"><img src="/img/arrowmenu.png"  id="arrowmenu" alt="arrowmenu" width="26px" height="24px"></a>
                <img src="/img/ODBlogo.png" id="ODBLogo" alt="ODBLogo"></div><br>
        </nav>
    </header>

    <main>
<!-- DELETE FORM  -->

    <div class="container">
<form action="/DeleteForm/{{prestation._id}}" method="post" enctype="multipart/form-data"> <!-- route liée sur AddServices.twig et chemin lié à la route adminRouter.get et post('/ModifyForm/:id' -->
    <h1>Supprimer</h1>
    <label>Titre : </label>
    <input type="text" name="title" value="{{prestation.title}}"/>
    <label>Catégorie : </label>
    <input type="text" name="category" value="{{prestation.category}}" />
    <label>Prix : </label>
    <input type="text" name="price" value="{{prestation.price}}" />
    <label>Type : </label>
    <input type="text" name="type" value="{{prestation.type}}" />
    <label for="file">Sélectionnez une image :</label>
    <input type="file" id="image" name="photo" value="{{prestation.photo}}">
    <button type="submit">Supression</button>
</form>
</div>