<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Modifier son client</title>
</head>

<body>
    <header>
        <img id="mower" src="/img/tondeuse_1.png" alt="tondeuse">
        <h2>Modification</h2>
        <img id="blade"src="/img/lame.png" alt="lame">
    </header>
    <main>
        <form action="/modificationCustomer/{{customer._id}}" method="post"> <!-- Dans ce form grâce au value= on récupère les données des clients séléctionné sur la page ClientList et grâce à la route dans adminRouter on va modifier les champs qu'on veut et les modif' seront effectuées sur mongoDB -->
            <div>
                <label for="name">Nom</label><br>
                <input type="text" id="name" name="name" value="{{customer.name}}">
            </div>

            <div>
                <label for="firstname">Prénom</label><br>
                <input type="text" id="firstname" name="firstname" value="{{customer.firstname}}">
            </div>

            <div>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" value="{{customer.email}}">
            </div>

            <div>
                <label for="phone">Téléphone</label><br>
                <input type="tel" id="phone" name="phone" value="{{customer.phone}}">
            </div>

            <div>
                <button id="button" type="submit" value="Valider">VALIDER</button>
            </div>
        </form>
    </main>
    <footer>
        <img id="comb" src="/img/peigne.png" alt="peigne">
        <img id="logo" src="/img/logo.png" alt="logo">
    </footer>
</body>

</html>