<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/modificationProfil.css">
    <title>Oncle_d_Barber</title>
</head>

<body>
    <a href="/dashboard">
    <h1>
        <img src="/img/home.png" alt="home">
    </h1>
    </a>
    <main>
        <h2>Modifier le profil</h2>
        <div id="picture">
        <img id="mower" src="/img/tondeuse_1.png" alt="tondeuse">
        <img id="blade"src="/img/lame.png" alt="lame">
        </div>
        <div id="connexion">
        <form action="/modificationProfil/{{customer.id}}" method="post">
            <div>
                <label for="name">Nom</label><br>
                <input type="text" id="name" name="name" value="{{customer.name}}">
            </div>

            <div>
                <label for="firstname">Prénom</label><br>
                <input type="text" id="firstname" name="firstname" value="{{customer.firstname}}">
            </div>

            <div>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" value="{{customer.email}}">
            </div>

            <div>
                <label for="phone">Téléphone</label><br>
                <input type="tel" id="phone" name="phone" value="{{customer.phone}}">
            </div>

            <div>
                <button id="button" type="submit" >Valider</button>
            </div>
            
        </form>
        <div id="#pictureThree">
			<img id="comb" src="/img/peigne.png" alt="peigne">
		</div>
    </div>
    </main>
        <div id="logo">
			<img  src="/img/logo.png" alt="logo">
		</div>

</body>

</html>